@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sjonnie's Slijterij</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reservation</h2>
        <p>
            @Html.ActionLink("Reservation", "ReservationOverview", "Reservation")
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Whiskey</h2>
        @Html.ActionLink("Whiskey", "WhiskeyOverview", "Whiskey")
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        @Html.ActionLink("Customer", "CustomerOverview", "Customer")
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>