@model SlijterijSjonnieLoper_version2.ViewModels.ViewImageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewImage</title>
</head>
<body>
    <div>
        <img src="@Model.StoreString64ByteArrayFromImage" />
    </div>
</body>
</html>

